@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=DotGothic16&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

body {
  font-family: var(--font-body);
}
